@import '../base/colors';

.home-container {
  border: 1px solid $gray;
  border-radius: 5px;
  max-width: 640px;
  min-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.nav-btn-group {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  button {
    height: fit-content;
    border: 1px solid $gray;
    border-radius: 5px;
    background: none;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.profile-btn:hover {
  border: 2px solid $blue;
  color: $blue;
}

.logout-btn:hover {
  border: 2px solid $red-hover;
  color: $red-hover;
}
