@import '../base/colors';

.navbar {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  a {
    margin-left: 20px;
  }
  img {
    margin-left: auto;
  }
  p {
    margin-left: 10px;
    margin-right: 20px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 10px;
  }
}

.profile-container {
  border: 1px solid $gray;
  border-radius: 10px;
  min-width: 320px;
  max-width: 680px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile-text-container {
  border-bottom: 1px solid $gray;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    height: fit-content;
    border: 1px solid $gray;
    border-radius: 5px;
    background: none;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.edit-button:hover {
  border: 2px solid $blue;
  color: $blue;
}

.delete-button:hover {
  border: 1px solid $red-hover;
  background-color: $red-hover;
  color: white;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid $gray;
  display: flex;
  flex-wrap: wrap;
  p {
    width: 200px;
    text-transform: uppercase;
    color: $gray;
  }
  input {
    width: 280px;
    font-weight: 600;
    cursor: text;
    border: 1px solid black;
  }
  input:disabled {
    border: 1px solid transparent;
    color: black;
  }
}

.row:last-child {
  display: flex;
  border-bottom: 0;
  padding-bottom: 0;
}

.pw-button:hover {
  border: 2px solid $red-hover;
  color: $red-hover;
}

.back-btn {
  height: fit-content;
  border: 1px solid $gray;
  border-radius: 5px;
  background: none;
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.back-btn:hover {
  border: 2px solid $blue;
  color: $blue;
}

.confirm-btn {
  height: fit-content;
  border: 2px solid $red-hover;
  border-radius: 5px;
  background: none;
  width: 80px;
  height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: auto;
  color: $red-hover;
}

.confirm-btn:hover,
.close-btn:hover {
  border: 2px solid $red-hover;
  background-color: $red-hover;
  color: white;
}

.close-btn {
  margin-left: 10px;
  height: 24px;
  width: 20px;
  background: none;
  border: 2px solid $red-hover;
  border-radius: 5px;
  color: $red-hover;
  cursor: pointer;
}
